# FastAPI
fastapi==0.119.0
uvicorn==0.37.0
protobuf
sentencepiece

# RAG/LangChain (모델 D)
langchain-community==0.3.0
langchain==0.3.25
faiss-cpu
sentence-transformers

# ML/Torch (모델 A, B, C)
torch
transformers
scikit-learn==1.6.1
langchain-huggingface

# Data & Utils
pandas
konlpy

# Database
redis==5.0.1